<div id="angket-drawer" class="fixed top-0 right-0 z-50 h-screen py-4 overflow-y-scroll transition-transform translate-x-full bg-white w-full md:w-[70%] md:max-w-screen-md" tabindex="-1" aria-labelledby="drawer-right-label">
    <div class="px-8 border-0 border-b-2 border-gray-300 mb-3">
        <h5 id="drawer-right-label" class="inline-flex items-center text-xl mb-3 font-semibold text-gray-600">
            Angket
        </h5>
        <button type="button" data-drawer-hide="angket-drawer" aria-controls="angket-drawer" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center" >
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close menu</span>
        </button>
    </div>
    <div id="content-angket-form" class="px-8 mb-6 ">
    </div>
    <div id="content-angket-result" class="px-8 border-t border-gray-200 py-4 mb-10">
    </div>
</div>