{% extends 'core/_base.html' %}
{% load custom_tags %}

{% block content %}
    <style>
        .htmx-request > .animate-spin {
            display: block !important;
        }
        .htmx-request > .wand {
            display: none !important;
        }
    </style>
    <div class="mb-8 md:mb-14 w-full">
        <form class="mb-5" method="POST" action="{% url 'generate_angket' %}" id="module-upload-form" enctype="multipart/form-data" >
            {% csrf_token %}
            <button class="btn btn-primary flex items-center" type="submit">
                Generate Angket <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                </svg>
            </button>
        </form> 
        
        {% if angkets %}
            {% for angket in angkets %}
                <div class="w-full flex items-center py-2 justify-between md:pe-6 border-b border-gray-200">
                    <button data-tooltip-target="tooltip-angket-{{angket.id}}" data-drawer-target="angket-drawer" data-drawer-show="angket-drawer" data-drawer-placement="right" aria-controls="angket-drawer" 
                        class="text-gray-800 hover:text-indigo-800 hover:rounded-lg px-2 py-1 me-10 font-medium text-sm text-center" type="button"
                        id="angket-btn-{{angket.id}}"
                        onclick="this.dispatchEvent(new Event('loadAngketResult{{angket.id|remove_dash}}'))"
                        hx-get="{% url 'angket_form' angket.id %}" hx-target="#content-angket-form" hx-indicator="#get-angket-loader">
                        {{angket.name}}
                    </button>
                    <div id="tooltip-angket-{{angket.id}}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        Total responden: {{angket|total_respondent}}
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <span hx-get="{% url 'angket_result' angket.id %}" hx-target="#content-angket-result" hx-indicator="#get-angket-loader" hx-trigger="loadAngketResult{{angket.id|remove_dash}} from:#angket-btn-{{angket.id}}">
                    </span>
                    
                    <div class="flex w-[30%] text-gray-500">
                        <div data-tooltip-target="tooltip-{{angket.id}}" >{% as_timezone angket.created_at 'Asia/Jakarta' %}</div>
                        <div id="tooltip-{{angket.id}}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                            Waktu dibuat
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    </div>

                    <div class="flex w-[30%] justify-between">
                        
                        <div class="me-3 flex justify-center">
                            <label class="inline-flex items-center cursor-pointer">
                                <input type="checkbox" name="accept_response" class="sr-only peer" hx-post="{% url 'toggle_accept_response' id=angket.id %}" hx-trigger="input" hx-swap="none"
                                    {% if angket.accept_response %}checked{% endif %}
                                        >
                                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                                <span class="ms-3 text-sm font-medium text-gray-600">Terima respon</span>
                            </label>
                        </div>
  
                        <button id="copy-{{angket.id}}" class="flex items-start text-gray-600 hover:text-indigo-800 hover:bg-white hover:shadow hover:rounded-lg px-2 py-1 me-10 font-medium text-sm text-center" type="button">
                            <span id="copy-msg-{{angket.id}}" class="me-2">
                                Copy Link
                            </span>
                            <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"/>
                            </svg>
                        </button>
                        <script>
                            document.getElementById("copy-{{angket.id}}").addEventListener("click", function() {
                                var url = "{{HOST}}/angket/{{angket.id}}/";
                                navigator.clipboard.writeText(url).then(function() {
                                    document.getElementById("copy-msg-{{angket.id}}").textContent = "Link Copied!";
                                    setTimeout(function() {
                                        document.getElementById("copy-msg-{{angket.id}}").textContent = "Copy Link";
                                    }, 1000);
                                }).catch(function() {
                                    document.getElementById("copy-msg-{{angket.id}}").textContent = "Failed";
                                    setTimeout(function() {
                                        document.getElementById("copy-msg-{{angket.id}}").textContent = "Copy Link";
                                    }, 1000);
                                });
                            });
                        </script>
                        <button data-tooltip-target="tooltip-delete-{{angket.id}}"  data-modal-target="popup-modal-{{angket.id}}" data-modal-toggle="popup-modal-{{angket.id}}" class="text-gray-600 hover:text-red-800 font-medium text-sm text-center px-2 py-1 hover:shadow hover:rounded-lg hover:bg-white" type="button">
                            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                            </svg>
                        </button>
                        <div id="tooltip-delete-{{angket.id}}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                            Hapus angket
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>

                        {% comment %} DELETE ANGKET {% endcomment %}
                        <form  method="POST" action="{% url 'delete_angket' angket.id %}">
                            {% csrf_token %}
                            <div id="popup-modal-{{angket.id}}" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                <div class="relative p-4 w-full max-w-md max-h-full">
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                        <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal-{{angket.id}}">
                                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                            </svg>
                                            <span class="sr-only">Tutup Pop Up</span>
                                        </button>
                                        <div class="p-4 md:p-8 text-center">
                                            <h3 class="mb-5 text-lg font-normal text-gray-500">Apakah anda yakin ingin menghapus angket ini?</h3>
                                                <button data-modal-hide="popup-modal-{{angket.id}}" type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                                                    Ya, Saya yakin
                                                </button>
                                            <button data-modal-hide="popup-modal-{{angket.id}}" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Tidak, batalkan</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            Belum ada angket tersedia
        {% endif %}

    </div>
{% endblock %}  