{% load static %}
<!DOCTYPE html>
<html>
{% include 'head.html' %}

<body class="bg-bggray">
    <title>
        {% block title %}
        {{page_title}}
        {% endblock %} | MyReflecTJournal
    </title>

    <script>
        document.addEventListener('showToast', function(evt){
            document.getElementById('toast').classList.remove('hidden')
            document.getElementById('toast-content').innerHTML = evt.detail.content
            console.log(evt.detail.content)

            const myTimeout = setTimeout(function() {
                document.getElementById('toast').classList.remove('hidden')
            }, 5000);
        })
    </script>
    
    {% if not no_sidebar %}
        {% include 'core/sidebar.html' %}
    {% endif %}
    <div class="{% if not no_sidebar %}sm:ml-64{% endif %} bg-bggray">
        {% include 'core/topbar.html' %}
        <div class="p-4 px-7 md:p-6 mb:pb-0 md:px-9 w-full"> 
            
            {% block content %}
            
            {% endblock %}
        </div>
    </div>

    {% include 'core/drawers.html' %}
    
    {% block footer %}
        
    {% endblock footer %}
        

    {% include "base-script.html" %}
    {% block script %}
    
    {% endblock script %}

    <script src="{% static 'dist/js/flowbite.js' %}"></script>
        
</body>
</html>
