<!DOCTYPE html>
<html>
{% include 'head.html' %}

<body class="bg-zinc-50 bg-gray-900">
    <title>
        {% block title %}
        {{page_title}}
        {% endblock %} | MyReflecTJ
    </title>

    <script>
        document.addEventListener('showToast', function(evt){
            document.getElementById('toast').classList.remove('hidden')
            document.getElementById('toast-content').innerHTML = evt.detail.content
            console.log(evt.detail.content)

            const myTimeout = setTimeout(function() {
                document.getElementById('toast').classList.remove('hidden')
            }, 5000);
        })
    </script>
    
    <div class="flex">
        {% if not request.user.is_authenticated %}
            {% include 'sidebar.html' %}
        {% endif %}
        <div class="grow">
            {% include 'core/topbar.html' %}
            <div class="{% comment %} p-3 md:p-6 md:px-9 bg-gray-50 font-sans  {% endcomment %}"> 
                
                {% block content %}
                
                {% endblock %}
            </div>
        </div>
    </div>
    
    {% block footer %}
        
    {% endblock footer %}
        

    {% include "base-script.html" %}
    {% block script %}
    
    {% endblock script %}

    {% if PROD %}
    {% else %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    {% endif %}
        
</body>
</html>
