{% extends "_base.html" %}
{% load static %}

{% block content %}
  

<div class="flex justify-center py-8">
    <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow md:p-8">
        <div class="p-4 mb-4 text-sm text-center text-blue-800 rounded-lg bg-red-50">
            {% if verified and option == 'signup'%}
                Akun anda berhasil di verifikasi
                <div class="text-sm font-medium text-gray-500">
                    Silahkan <a href="{% url 'login' %}"class="text-blue-700 hover:underline">Masuk di sini</a>
                </div>
            {% elif verified and option == 'reset'%}
                Tautan sudah dikirim ke Email anda
            {% elif verified and option == 'reseted'%}
                Password Berhasil diatur ulang
                
                <div class="text-sm font-medium text-gray-500">
                    Silahkan <a href="{% url 'login' %}"class="text-blue-700 hover:underline">Masuk di sini</a>
                </div>
            {% else %}
                Email konfirmasi sudah dikirim ke Email anda
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
