{% extends 'core/_base.html' %}

{% block content %}
    <div class="mb-8 md:mb-14">
        <div class="text-xl font-semibold mb-4">
            Refleksi Hari Ini
        </div>

        <div class="flex gap-9 mb-6 flex-wrap" hx-get="{% url 'today_agenda' %}" hx-target="this" hx-swap="innerHTML" hx-trigger="load">
            {% include 'components/main-agenda-skeleton.html' %}
            {% include 'components/main-agenda-skeleton.html' %}
        </div>
    </div>

    <div class="mb-6 me-4">
        <div class="text-xl font-semibold mb-4">
            Catatan Refleksi Sebelumnya . . .
        </div>

        <div class="pe-6" hx-get="{% url 'latest_reflection_journals' %}" hx-target="this" hx-swap="innerHTML" hx-trigger="load">
            {% include 'components/related-journal-history-skeleton.html' %}
            {% include 'components/related-journal-history-skeleton.html' %}
            {% include 'components/related-journal-history-skeleton.html' %}
        </div>
    </div>
{% endblock %}  