{% extends 'core/_base.html' %}
{% load custom_tags %}

{% block content %}
    <div class="mb-8 md:mb-14 w-full">
        <div class="flex items-center mb-6">
            <a href="{% url 'module' %}" class="me-5 py-1 px-2 rounded bg-white shadow flex">
                <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                </svg> 
            </a>
            <div class="text-xl font-semibold">
                Dasar Pendidikan
            </div>
        </div>

        <form class="mb-5" method="POST" action="{% url 'upload_module' %}" id="module-upload-form" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="flex flex-col justify-center items-center rounded-lg py-4 text-center w-[575px] h-[228px]">
                <label for="dropzone-file" class="mb-2 flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-white">
                    <div id="uploader-instruction" class="flex flex-col items-center justify-center px-2 pt-5 pb-5">
                        <svg class="w-8 h-8 mb-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                        </svg>
                        <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Klik untuk Upload</span></p>
                        <p class="mb-2 text-sm text-gray-500">atau<span class="font-semibold italic"> drag and drop</span> modul ke sini</p>
                        <p class="mb-2 text-xs text-gray-500">Tipe: <span class="font-semibold">PDF</span>, Maksimal Ukuran File: <span class="font-semibold">30MB</span></p>
                    </div>
                    <div id="file-name-container" class="text-gray-500 hidden">
                        <div class="flex justify-center">
                            <svg class="w-9 h-9 text-gray-500 mb-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2 2 2 0 0 0 2 2h12a2 2 0 0 0 2-2 2 2 0 0 0 2-2v-7a2 2 0 0 0-2-2V4a2 2 0 0 0-2-2h-7Zm-6 9a1 1 0 0 0-1 1v5a1 1 0 1 0 2 0v-1h.5a2.5 2.5 0 0 0 0-5H5Zm1.5 3H6v-1h.5a.5.5 0 0 1 0 1Zm4.5-3a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h1.376A2.626 2.626 0 0 0 15 15.375v-1.75A2.626 2.626 0 0 0 12.375 11H11Zm1 5v-3h.375a.626.626 0 0 1 .625.626v1.748a.625.625 0 0 1-.626.626H12Zm5-5a1 1 0 0 0-1 1v5a1 1 0 1 0 2 0v-1h1a1 1 0 1 0 0-2h-1v-1h1a1 1 0 1 0 0-2h-2Z" clip-rule="evenodd"/>
                            </svg>
                        </div>
                        <div id="file-name"></div>
                    </div>
                    <input id="dropzone-file" type="file" name="module_file" class="hidden" onchange="show_file_name(this)" accept=".pdf" required/>
                    <script>
                        function show_file_name(elm){
                            var file_name_container = document.getElementById("file-name-container")
                            var file_name = document.getElementById("file-name")

                            const files = elm.files;
                            var path = "";
                            if (files.length > 0) {
                                for (const file of files) {
                                    path = path+file.name + "";
                                }
                            }
                            if (path.length >= 150)
                            {
                                path = path.substring(0, 150) + "..."
                            }
                            file_name.innerHTML = path
                            if (path != ""){
                                document.getElementById('uploader-instruction').classList.add('hidden')
                                file_name_container.classList.remove('hidden')
                            }
                            else{
                                document.getElementById('uploader-instruction').classList.remove('hidden')
                                file_name_container.classList.add('hidden')
                            }
                        }
                    </script>
                </label>
                <button type="submit" class="mb-6 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Upload modul</button>
            </div> 
        </form> 
        
        <div class="text-xl font-semibold mb-4">
            Daftar Modul
        </div>
        {% if modules %}
            {% for module in modules %}
            <div class="w-full flex items-center py-2 justify-between md:pe-6 border-b border-gray-200">
                <a class="w-[40%] me-2 text-gray-800 hover:text-blue-800 font-medium" href="{{module.module_file.url}}" >Modul {{forloop.counter}} - {% with module.module_file.name|show_file_name as name %}{{name|truncatechars:25}}{% endwith%}</a>
                
                <div class="flex w-[30%] text-gray-500">
                    {{module.created_at}}
                </div>

                <div class="flex w-[30%]">
                    <button class="flex items-end text-gray-600 hover:text-indigo-800 hover:bg-white hover:shadow hover:rounded-lg px-2 py-1 me-10 font-medium text-sm text-center" type="button">
                        <svg class="w-5 h-5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M17.44 3a1 1 0 0 1 .707.293l2.56 2.56a1 1 0 0 1 0 1.414L18.194 9.78 14.22 5.806l2.513-2.513A1 1 0 0 1 17.44 3Zm-4.634 4.22-9.513 9.513a1 1 0 0 0 0 1.414l2.56 2.56a1 1 0 0 0 1.414 0l9.513-9.513-3.974-3.974ZM6 6a1 1 0 0 1 1 1v1h1a1 1 0 0 1 0 2H7v1a1 1 0 1 1-2 0v-1H4a1 1 0 0 1 0-2h1V7a1 1 0 0 1 1-1Zm9 9a1 1 0 0 1 1 1v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 1 1 0-2h1v-1a1 1 0 0 1 1-1Z" clip-rule="evenodd"/>
                            <path d="M19 13h-2v2h2v-2ZM13 3h-2v2h2V3Zm-2 2H9v2h2V5ZM9 3H7v2h2V3Zm12 8h-2v2h2v-2Zm0 4h-2v2h2v-2Z"/>
                        </svg>
                        <span class="text-sm">Generate Feedback</span>
                    </button>
                    <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="text-gray-600 hover:text-red-800 font-medium text-sm text-center px-2 py-1 hover:shadow hover:rounded-lg hover:bg-white" type="button">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
                        </svg>
                    </button>

                    <form  method="POST" action="{% url 'delete_module' %}">
                        <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                            <div class="relative p-4 w-full max-w-md max-h-full">
                                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                    <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                        </svg>
                                        <span class="sr-only">Tutup Pop Up</span>
                                    </button>
                                    <div class="p-4 md:p-5 text-center">
                                        <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                        </svg>
                                        <h3 class="mb-5 text-lg font-normal text-gray-500">Apakah anda yakin ingin menghapus file modul ini?</h3>
                                            {% csrf_token %}
                                            <button data-modal-hide="popup-modal" type="submit" name='module_file_id' value="{{module.id}}" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                                                Ya, Saya yakin
                                            </button>
                                        <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Tidak, batalkan</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    
            {% endfor %}
        {% else %}
            Belum ada modul yang diupload
        {% endif %}

        {% comment %} <div class="flex gap-9 mb-6 flex-wrap" hx-get="{% url 'today_agenda' %}" hx-target="this" hx-swap="innerHTML" hx-trigger="load">
            {% include 'components/main-agenda-skeleton.html' %}
            {% include 'components/main-agenda-skeleton.html' %}
            
        </div> {% endcomment %}
    </div>
{% endblock %}  