{% extends "_base.html" %}
{% load static %}

{% block content %}
  

<div class="flex justify-center py-8">
    <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow md:p-8">
        <form method="POST" action="{% url 'reset_password' %}" id="submit-form" >
            {% csrf_token %}
            {% if verified %}
                <h5 class="mb-6 text-xl font-medium text-gray-900">Atur ulang kata sandi</h5>
                <div class="mb-4">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email Anda</label>
                    <div class="text-sm text-gray-500">
                        {% if email %}{{email}}{% endif %}
                        <input type="email" name="email" hidden autocomplete="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@email.com" required 
                        {% if email %}value="{{email}}"{% endif %}
                        >
                    </div>
                </div>

                <div class="mb-4">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Kata Sandi</label>
                    <input type="password" name="password" id="password" autocomplete="current-password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 {% if error_message and email %}outline ring-red-500 outline-red-500{% endif %}" required>
                </div>
                <div class="mb-4">
                    <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900">Ulangi Kata Sandi</label>
                    <input type="password" name="confirm_password" id="confirm_password" autocomplete="current-password" id="confirm_password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 {% if error_message and email %}outline ring-red-500 outline-red-500{% endif %}" required>
                </div>
                
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 hidden" id="alert" role="alert">
                    Konfirmasi kata sandi tidak cocok
                </div>
                <button type="submit" onclick="return validate_password()" class="mb-6 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Simpan</button>
            {% else %}
                <h5 class="mb-6 text-xl font-medium text-gray-900">Lupa Kata Sandi</h5>
                <div class="mb-4">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email Anda</label>
                    <input type="email" name="email" autocomplete="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@email.com" required 
                        {% if email %}value="{{email}}"{% endif %}
                        >
                </div>
                <button type="submit" class="mb-6 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Kirim tautan</button>
                <div class="text-sm text-gray-500">
                    Kami akan mengirimkan tautan untuk mengubah password Anda melalui email
                </div>
            {% endif %}
        </form>
    </div>
</div>

<script>
    function validate_password(){
        var form = document.getElementById("submit-form")
        var password = document.getElementById("password")
        var confirm_password = document.getElementById("confirm_password")
        var alert = document.getElementById("alert")

        if (password.value == confirm_password.value){
            form.submit()
        }
        else{
            alert.classList.remove('hidden')
            
            password.classList.add('outline')
            password.classList.add('ring-red-500')
            password.classList.add('outline-red-500')

            confirm_password.classList.add('outline')
            confirm_password.classList.add('ring-red-500')
            confirm_password.classList.add('outline-red-500')
            return false;
        }
    }

</script>
{% endblock content %}
