{% extends "_base.html" %}
{% load static %}

{% block content %}
  

<div class="flex justify-center py-8">
    <div class="w-full max-w-sm md:max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow md:p-8">
        <form method="POST" action="{% url 'signup' %}" id="signup-form" >
            {% csrf_token %}
            <h5 class="mb-6 text-xl font-medium text-gray-900">Daftar Akun</h5>
            <div class="mb-4">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email Anda</label>
                <input type="email" name="email" autocomplete="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@email.com" required 
                    {% if email %}value="{{email}}"{% endif %}
                    >
            </div>
            <div class="mb-4">
                <label for="nama" class="block mb-2 text-sm font-medium text-gray-900">Nama</label>
                <input type="text" name="nama" id="nama" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Nama Lengkap" required 
                    >
            </div>
            <div class="mb-4">
                <label for="instansi" class="block mb-2 text-sm font-medium text-gray-900">Instansi / Sekolah</label>
                <input type="text" name="instansi" id="instansi" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Nama Instansi Sekolah" required 
                    >
            </div>

            {% comment %} Add show password button using tailwindcss or flowbite on all password inputs {% endcomment %}
            <div class="mb-4">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Kata Sandi</label>
                <div class="relative">
                    <input type="password" name="password" id="password" autocomplete="current-password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 {% if error_message and email %}outline ring-red-500 outline-red-500{% endif %}" required>
                    {% comment %} Add function to  {% endcomment %}
                    <button type="button" class="text-gray-600 absolute right-0 top-0 px-4 h-full">
                        <span class="show-icon">
                            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M4.998 7.78C6.729 6.345 9.198 5 12 5c2.802 0 5.27 1.345 7.002 2.78a12.713 12.713 0 0 1 2.096 2.183c.253.344.465.682.618.997.14.286.284.658.284 1.04s-.145.754-.284 1.04a6.6 6.6 0 0 1-.618.997 12.712 12.712 0 0 1-2.096 2.183C17.271 17.655 14.802 19 12 19c-2.802 0-5.27-1.345-7.002-2.78a12.712 12.712 0 0 1-2.096-2.183 6.6 6.6 0 0 1-.618-.997C2.144 12.754 2 12.382 2 12s.145-.754.284-1.04c.153-.315.365-.653.618-.997A12.714 12.714 0 0 1 4.998 7.78ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd"/>
                            </svg>
                        </span>
                        <span class="hide-icon hidden">
                            <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path d="m4 15.6 3.055-3.056A4.913 4.913 0 0 1 7 12.012a5.006 5.006 0 0 1 5-5c.178.009.356.027.532.054l1.744-1.744A8.973 8.973 0 0 0 12 5.012c-5.388 0-10 5.336-10 7A6.49 6.49 0 0 0 4 15.6Z"/>
                                <path d="m14.7 10.726 4.995-5.007A.998.998 0 0 0 18.99 4a1 1 0 0 0-.71.305l-4.995 5.007a2.98 2.98 0 0 0-.588-.21l-.035-.01a2.981 2.981 0 0 0-3.584 3.583c0 .012.008.022.01.033.05.204.12.402.211.59l-4.995 4.983a1 1 0 1 0 1.414 1.414l4.995-4.983c.189.091.386.162.59.211.011 0 .021.007.033.01a2.982 2.982 0 0 0 3.584-3.584c0-.012-.008-.023-.011-.035a3.05 3.05 0 0 0-.21-.588Z"/>
                                <path d="m19.821 8.605-2.857 2.857a4.952 4.952 0 0 1-5.514 5.514l-1.785 1.785c.767.166 1.55.25 2.335.251 6.453 0 10-5.258 10-7 0-1.166-1.637-2.874-2.179-3.407Z"/>
                            </svg>
                        </span>
                    </button>
                </div>
                
            </div>
            <div class="mb-4">
                <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900">Ulangi Kata Sandi</label>
                <div class="relative">
                    <input type="password" name="confirm_password" id="confirm_password" autocomplete="current-password" id="confirm_password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 {% if error_message and email %}outline ring-red-500 outline-red-500{% endif %}" required>
                    <button type="button" class="text-gray-600 absolute right-0 top-0 px-4 h-full">
                        <span class="show-icon">
                            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M4.998 7.78C6.729 6.345 9.198 5 12 5c2.802 0 5.27 1.345 7.002 2.78a12.713 12.713 0 0 1 2.096 2.183c.253.344.465.682.618.997.14.286.284.658.284 1.04s-.145.754-.284 1.04a6.6 6.6 0 0 1-.618.997 12.712 12.712 0 0 1-2.096 2.183C17.271 17.655 14.802 19 12 19c-2.802 0-5.27-1.345-7.002-2.78a12.712 12.712 0 0 1-2.096-2.183 6.6 6.6 0 0 1-.618-.997C2.144 12.754 2 12.382 2 12s.145-.754.284-1.04c.153-.315.365-.653.618-.997A12.714 12.714 0 0 1 4.998 7.78ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd"/>
                            </svg>
                        </span>
                        <span class="hide-icon hidden">
                            <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path d="m4 15.6 3.055-3.056A4.913 4.913 0 0 1 7 12.012a5.006 5.006 0 0 1 5-5c.178.009.356.027.532.054l1.744-1.744A8.973 8.973 0 0 0 12 5.012c-5.388 0-10 5.336-10 7A6.49 6.49 0 0 0 4 15.6Z"/>
                                <path d="m14.7 10.726 4.995-5.007A.998.998 0 0 0 18.99 4a1 1 0 0 0-.71.305l-4.995 5.007a2.98 2.98 0 0 0-.588-.21l-.035-.01a2.981 2.981 0 0 0-3.584 3.583c0 .012.008.022.01.033.05.204.12.402.211.59l-4.995 4.983a1 1 0 1 0 1.414 1.414l4.995-4.983c.189.091.386.162.59.211.011 0 .021.007.033.01a2.982 2.982 0 0 0 3.584-3.584c0-.012-.008-.023-.011-.035a3.05 3.05 0 0 0-.21-.588Z"/>
                                <path d="m19.821 8.605-2.857 2.857a4.952 4.952 0 0 1-5.514 5.514l-1.785 1.785c.767.166 1.55.25 2.335.251 6.453 0 10-5.258 10-7 0-1.166-1.637-2.874-2.179-3.407Z"/>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 {% if not error_message %}hidden{% endif %}" id="alert" role="alert">
                {% if error_message %}
                {{error_message}}
                {% else %}
                Kata sandi tidak cocok
                {% endif %}
            </div>
            {% if error_message %}
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50-800" id="alert" role="alert">
                    {{error_message}}
                </div>
            {% endif %}

            <button type="submit" onclick="return validate_password()" class="mb-6 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Daftar</button>
            <div class="text-sm font-medium text-gray-500">
                Sudah terdaftar? <button type="submit" class="text-blue-700 hover:underline">Masuk di sini</button>
            </div>
        </form>

        <script>
            function validate_password(){
                var form = document.getElementById("submit-form")
                var password = document.getElementById("password")
                var confirm_password = document.getElementById("confirm_password")
                var alert = document.getElementById("alert")

                if (password.value == confirm_password.value){
                    form.submit()
                }
                else{
                    alert.innerHTML = "Kata sandi tidak cocok"
                    alert.classList.remove('hidden')
                    
                    password.classList.add('outline')
                    password.classList.add('ring-red-500')
                    password.classList.add('outline-red-500')

                    confirm_password.classList.add('outline')
                    confirm_password.classList.add('ring-red-500')
                    confirm_password.classList.add('outline-red-500')
                    return false;
                }
            }


        </script>
    </div>
</div>

{% endblock content %}
