{% block content %}
<div id="articles-container" class="py-2 p-5 pb-7 bg-white rounded-lg mt-5">
    
    <div class="md:flex md:flex-row md:items-center mt-2">
        <div hx-swap="outerHTML" hx-trigger="click" hx-target="#articles-container" hx-get="{% url 'load_articles' %}" class="cursor-pointer me-5 py-1 px-2 rounded bg-white shadow mb-6 md:mb-0 w-fit">
            <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
            </svg> 
        </div>
        <div class="px-3 md:px-0 text-xl font-semibold mb-3 md:mb-0">
            {{title}}
        </div>
    </div>
    <div class="p-3 md:p-5 flex items-center flex-col">
        {% if cover_image %}
        <img class="mb-6 h-auto max-w-xl rounded-lg max-h-28 md:max-h-60 me-5" src="{{cover_image.url}}" alt="image description">
        {% endif %}
        <div class="w-full">
            {{content|safe}}
        </div>
    </div>
</div>
{% endblock %}