<!DOCTYPE html>
{% load compress %}
{% load static %}

<html>
{% include 'head.html' %}

<style>
    body {
        background-color: #1F2873;
    }
</style>
<body>
    <title>
        {% block title %}
            {% if page_title %}
                {{page_title}}
            {% else %}
                Aplikasi Refleksi Guru
            {% endif %}
        {% endblock %}
    </title>

    <script>
        document.addEventListener('showToast', function(evt){
            document.getElementById('toast').classList.remove('hidden')
            document.getElementById('toast-content').innerHTML = evt.detail.content
            console.log(evt.detail.content)

            const myTimeout = setTimeout(function() {
                document.getElementById('toast').classList.remove('hidden')
            }, 5000);
        })
    </script>
    <div class="bg-gradient-to-b from-bgdarkblue to-bglightblue {% if main_public %}min-h-[650px] rounded-b-[100px] {% else %}h-screen min-h-100{% endif %} w-full absolute top-0 left-0 z-0">
    </div>
    
    {% if main_public %}
        <div class="bg-skyblue min-h-[650px] w-full absolute top-[650px] left-0 z-0">
        </div>
    {% endif %}

    {% include 'topbar.html' %}
    
    <div class="absolute top-[90px] px-3 md:px-24 w-full">
    {% block content %}
    
    {% endblock %}
    </div>
    
    {% block footer %}
        
    {% endblock footer %}
        

    {% include "base-script.html" %}
    {% block script %}
    
    {% endblock script %}

    {% if PROD %}
    {% else %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    {% endif %}
        
</body>
</html>
