<!DOCTYPE html>
{% load compress %}
{% load static %}

<html>
{% include 'head.html' %}

<style>
    {% if main_public %}
        body {
            background-color: #F2F6FF;
        }
    {% else %}
        body {
            background-color: #1F2873;
        }
    {% endif %}
</style>
<body>
    <title>
        {% block title %}
            {% if page_title %}
                {{page_title}}
            {% else %}
                Aplikasi Refleksi Guru
            {% endif %}
        {% endblock %}
    </title>

    <script>
        document.addEventListener('showToast', function(evt){
            document.getElementById('toast').classList.remove('hidden')
            document.getElementById('toast-content').innerHTML = evt.detail.content
            console.log(evt.detail.content)

            const myTimeout = setTimeout(function() {
                document.getElementById('toast').classList.remove('hidden')
            }, 5000);
        })
    </script>
    <div class="bg-gradient-to-b from-bgdarkblue to-bglightblue {% if main_public %}min-h-[1000px] md:min-h-[700px] rounded-b-[65px] {% else %}h-screen min-h-100{% endif %} w-full absolute top-0 left-0 z-0">
    </div>
    
    {% if main_public %}
        <div class="bg-skyblue min-h-[1000px] md:min-h-[700px] w-full absolute top-[1000px] md:top-[700px] left-0 z-0">
        </div>
    {% endif %}

    {% include 'topbar.html' %}
    
    <div class="absolute top-[90px] px-6 md:px-24 w-full">
    {% block content %}
    
    {% endblock %}
    </div>
    
    {% block footer %}
        
    {% endblock footer %}
        

    {% include "base-script.html" %}
    {% block script %}
    
    {% endblock script %}

    {% if PROD %}
    {% else %}
    <script src="{% static 'dist/js/flowbite.js' %}"></script>
    {% endif %}
        
</body>
</html>
