<!DOCTYPE html>
{% load compress %}
{% load static %}

<html>
{% include 'head.html' %}

<body class="bg-zinc-50 bg-gray-900">
    <title>
        {% block title %}
        {{page_title}}
        {% endblock %} | MyReflecTJ
    </title>

    <script>
        document.addEventListener('showToast', function(evt){
            document.getElementById('toast').classList.remove('hidden')
            document.getElementById('toast-content').innerHTML = evt.detail.content
            console.log(evt.detail.content)

            const myTimeout = setTimeout(function() {
                document.getElementById('toast').classList.remove('hidden')
            }, 5000);
        })
    </script>
    
    {% include 'topbar.html' %}
    
    {% include 'sidebar.html' %}
        
    {% block content %}
    
    {% endblock %}
    
    {% block footer %}
        
    {% endblock footer %}
        

    {% include "base-script.html" %}
    {% block script %}
    
    {% endblock script %}

    {% if PROD %}
    {% else %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    {% endif %}
        
</body>
</html>
