{% comment %} HTMX CONFIG {% endcomment %}
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>

<script>
    {% comment %} CLIPBOARD {% endcomment %}
    document.querySelectorAll('.clipboard').forEach(clipboard =>{
        clipboard.addEventListener('click', function(){
            clipboard.querySelector('.clipboard-icon').classList.toggle('hidden')
            clipboard.querySelector('.clipboard-icon-success').classList.toggle('hidden')

            const myTimeout = setTimeout(function() {
                clipboard.querySelector('.clipboard-icon').classList.toggle('hidden')
                clipboard.querySelector('.clipboard-icon-success').classList.toggle('hidden')
            }, 2000);
        })
    })
    //add show password toggle function
    document.querySelectorAll('.toggle-password').forEach(item => {
        item.addEventListener('click', event => {
            item.querySelectorAll('.show-icon').forEach(icon => {
                if (icon.classList.contains('hidden')){
                    icon.classList.remove('hidden')
                    icon.nextElementSibling.classList.add('hidden')
                    item.previousElementSibling.type = 'password'
                    console.log(item.previousElementSibling)
                }
                else{
                    icon.classList.add('hidden')
                    icon.nextElementSibling.classList.remove('hidden')
                    item.previousElementSibling.type = 'text'
                    console.log(item.previousElementSibling)
                }
            })
        })
    })
</script>
