{% load custom_tags %}

{% for journal in latest_journals %}
<div class="text-gray-800 p-4 bg-blue-100 rounded-md mb-2">
    <div class="card">
        <div class="card-header flex justify-between flex-col md:flex-row mb-3">
            <h5 class="card-title font-medium">{{journal.agenda.subject.name}}</h5>
            <div class="text-sm">
                {% as_timezone journal.agenda.start_time 'Asia/Jakarta' '%d %B %Y' %}
                {% as_timezone journal.agenda.start_time 'Asia/Jakarta' '%H:%M' %} - {% as_timezone journal.agenda.end_time 'Asia/Jakarta' '%H:%M' %}
            </div>
        </div>
        <div class="card-body">
            <p class="card-text" hx-get="{% url 'summary_refleksi' journal.agenda.id %}" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
            </p>
        </div>
    </div>
</div>
{% empty %}
    <div class="text-gray-600 p-4 bg-white rounded">
        Tidak ada riwayat refleksi
    </div>
{% endfor %}